# Byte-compiled / optimized / DLL files
__pycache__/
db.db

*.ini
.idea/.gitignore
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/refugee.iml
.idea/sqldialects.xml
.idea/vcs.xml
